[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.aws-lambda-python-alpha" = "==2.235.0a0"
aws-cdk-lib = "==2.235.0"
aws-cdk-aws-lambda-python-alpha = "==2.235.0a0"
constructs = ">=10.0.0"
boto3 = "==1.39.13"
botocore = "<1.40.0,>=1.39.13"
urllib3 = "==2.6.3"
requests = ">=2.31.0"
certifi = ">=2023.7.22"
python-dotenv = ">=1.0.0"

[dev-packages]
isort = "~=5.13"
flake8 = "~=7.1"
mypy = "~=1.11"
pytest = ">=7.0.0"
pytest-cov = ">=4.0.0"
pytest-mock = ">=3.10.0"
coverage = ">=7.0.0"
moto = {version = ">=4.2.0", extras = ["dynamodb", "secretsmanager", "ssm"]}
slack-sdk = ">=3.19.0"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
